.{
	margin: 0;
	padding: 0;
}
.header{

	 min-height: 100vh;
	 width: 100%;
	 background-image: linear-gradient(rgb(50, 5, 39,0.8),rgb(5, 10, 31,0.8)),
	 url(images/banner.png);
	 background-position: center;
	 background-size: cover;
	 position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content:space-between;
	align-items: center;
}

nav img{
	 width: 70px;
}
.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: deeppink;
	text-decoration: none;
	font-size: 15px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: orange;
	display: block;
	margin: auto;
	transition: 0.8s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	text-align: center;
	color: white;
}
.text-box h1{
	font-size: 40px;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: deeppink;
	border: 1px solid yellow;
	padding: 12px 34px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid white;
	background: white;
	transition: 0.8s;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	  .nav-links ul li{
	  	display: block;
	  }
	   .nav-links{
	   	position: absolute;
	   	background: hotpink;
	   	height: 100vh;
	   	width: 200px;
	   	top: 0;
	   	right: 0;
	   	text-align: left;
	   	z-index: 2;

	   }
}
  .COURSE{
  	width: 100%;
  	margin: auto;
  	text-align: center;
  	padding-top: 100px;
  }

  h1{
     font-size: 36px;
     font-weight: 600;
  }

p{
	color: darkred;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
	gap: 20px;
	
}
.course-col{
	flex-basis: 31%;
	background: skyblue;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.8s;
	cursor: pointer;
}
h3{

	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{
	box-shadow: 0 0 20px 0px rgba(500, 0, 0, 0.5);
}

.Campus{
	width: 100%;
	display: flex;
	flex-direction:column ;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	
}
.campus-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.campus-col img{
	width: 100%;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.8;
	cursor: pointer;
}
.layer:hover{
    background: rgba(226, 44, 54, 0.7);

}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5S;
}
.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}

.Facilities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.Facilities-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

.Facilities-col img{
	width: 100%;
	border-radius: 10px;
}
.Facilities-col p{
	padding: 0;
} 
.Facilities-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

.About {
   font-size: 30px;

}






























